.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;       
}

.fighter-preview___right {
  align-items: center; 
}

.fighter-preview___left {
  align-items: center; 
}

.fighter-preview___img {
  width: 35%;
  height: auto;    
}

.fighter-preview___text {
  font-size: 1.5rem;
}